.SignIn{
    display: inline-block ;
    margin:3px;

}
.SignIn:target{ 
    text-decoration: underline;
}
.SignUp:focus { 
    text-decoration: underline;
}
.SignUp{
    display: inline-block ;
    margin:3px;

}
.btn-primary{
    margin-left:30px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;

}
#purpleBtn{
    background-color:white;
    border-color:#6b69d6;
    border-width:6px;
    color:#313030;
}
#greenBtn{
    background-color:#F8fcfb;
    border-color:#c9fdd7;
    border-width:6px;
    color:#313030;
}
#greenBtn:hover{
    background-color:#F8fcfb;
    border-color:#6b69d6;
    border-width:6px;
    color:#313030;
}
#purpleBtn:hover{
    background-color:white;
    border-color:#c9fdd7;
    border-width:6px;
    color:#313030;
}
.cornerBtn{
    border-radius: 50px 20px;
    background-color:#6b69d6;
    position:absolute;
    top:0;
    right:0;
}